In [1]:
import pandas as pd
import numpy as num
path = "datasets/a_companies.csv"
df = pd.read_csv(path)

In [2]:
df.describe()

       funding_total_usd  funding_rounds          id
count       9.500000e+01      100.000000  100.000000
mean        2.800492e+07        1.680000  280.500000
std         8.058041e+07        1.278256   29.011492
min         1.500000e+04        1.000000  231.000000
25%         8.154545e+05        1.000000  255.750000
50%         4.000000e+06        1.000000  280.500000
75%         1.890000e+07        2.000000  305.250000
max         5.100000e+08        8.000000  330.000000