# SQL Queries Assignment

Link to assignment document...
https://docs.google.com/document/d/1BQJTwEZtaTSCl6a8pCJV4aFx2sbzJaJJ-5b62mnSlpY/edit

## QUESTION 1: 
### Get the player names, player hometowns, school names, player positions, and school conferences for all players with position ‘QB’ or ‘WR’

```SELECT player_name, hometown, full_school_name, position, teams.conference
FROM benn.college_football_players players
JOIN benn.college_football_teams teams
ON players.full_school_name = teams.school_name
WHERE players.position = 'QB' OR players.position = 'WR'
ORDER BY players.player_name ASC```

## QUESTION 2: 
### Create a table that displays the average height of players at each position. Height of players that do not have a 0 for height grouped by position

```SELECT AVG(height), position FROM benn.college_football_players 
WHERE height != 0
GROUP BY position
ORDER BY AVG(height) DESC```

## QUESTION 3: 
### Write a query that find the top 5 tallest players, as well as their position, height, school, and the conference they belong to.

```SELECT player_name, position, height, school_name FROM benn.college_football_players 
ORDER BY height DESC
LIMIT 5```

## QUESTION 4: 
### Find the regions with the highest average company funding

```SELECT * 
FROM (
SELECT AVG(funding_total_usd) AS avg_funding, region, COUNT(region) as region_count
FROM tutorial.crunchbase_companies_clean_date 
WHERE region != 'unknown' AND funding_total_usd > 0
GROUP BY region
ORDER BY avg_funding DESC
) as subquery
WHERE region_count > 10```